body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.container{
    background-color: rgb(164, 204, 204);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.music-container{
    display: flex;
    padding: 30px;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    align-content: space-between;
    max-width: 480px;
    background-color: white;
    /* box-shadow: 0px 5px 10px 5px rgb(82 87 90 / 28%);
     */box-shadow: 4px 10px 15px -3px rgba(0,0,0,0.1);
}
.name{
    font-family:"Sofia", serif;
    font-size: 30px;
}
.track-art{
    width:300px;
    height:200px;
    margin: 20px 0px;
}
.track-art img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius:10px;
}
.music-list{
    padding: 30px;
}
.controls .fa{
    padding:0 20px;
    cursor: pointer;
}
.progress-area{
    width: 100%;
    height: auto;
    padding:10px;
    margin: 10px;
}
.seek_slider{
    width: 100%;
    height:5px;
    box-shadow:0 1px 2px rgb(82 87 90 / 28%) ;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}
.progress{
    position: absolute;
    top: 0;
    left:0;
    width:0%;
    height: 100%;
    background: linear-gradient(45deg, #5ea8a8, rgb(180 216 216));
    border-radius: 5px;
    cursor: pointer;
}
.progress-duration{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
#play{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    box-shadow:0 1px 9px rgb(82 87 90 / 28%),0 1px 9px rgb(82 87 90 / 12%) ;
    border-radius: 50%;
    padding: 11px 13px;
    margin: 0 30px;
}
#play:hover{
    background:black;
    color: white;
    box-shadow:0 1px 9px rgb(82 87 90 / 28%),0 1px 9px rgb(82 87 90 / 12%) ;
}